body {
  background-image: url(../src/assets/victor-freitas-KIzBvHNe7hY-unsplash.jpg);
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Greeting {
  padding-top: 30px;
  font-size: 80px;
  color: #ffffff;
}

.CartWidget {
  font-size: 30px;
  padding-left: 15px;
}
